{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        Hello, please login to continue
    </div>
    <br>
    <div>
        <button onclick="" > Login </button>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
